<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color: black;
            color: white;
        }
        h1{
            text-align: center;
            color: white;
            text-transform: capitalize;
        }
    
    </style>
    <h1>this is my home page title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatibus ipsum eum quos ducimus incidunt quasi maxime voluptatem ratione velit voluptates explicabo, cupiditate veniam eligendi rem! Illo odit quaerat assumenda.</p>

    <h1>what is your name.</h1>
    <h1>my name is akash</h1>
</body>
</html>